@using CoreModules.Models
@model PublicFeeViewModel

<div class="container">
    <div class="row">
      <form id="form-add">
          <div class="mb-3 row">
            <label for="publicFee-item" class="col-sm-2 col-form-label">項目</label>
            <div class="col-sm-10">
                <select id="publicFee-item" name="name_En" class="form-select">
                    <option selected value="">===請選擇===</option>
                        @{
                            foreach(var item in Model.PublicFeeItems)
                            {
                                <option value="@item.Name_En">@item.Name</option>
                            }
                        }
                </select>
            </div>
          </div>
          <div class="mb-3 row">
            <label for="publicFee-amount" class="col-sm-2 col-form-label">金額</label>
            <div class="col-sm-10">
                <input type="number" min="1" max="30000" name="amount" class="form-control" id="publicFee-amount">
            </div>
          </div>
          <div class="mb-3 col-sm-12 text-center">
               <button type="submit" id="btn-add-publicFee" class="w-100 btn btn-success">新增</button>
          </div>
      </form>
    </div>
    <div class="row">
        <div class="table-responsive">
            <table class="table table-bordered">
            <thead>
                <tr class="table-active">
                    <th>名稱</th>
                    <th>金額</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach(var publicFee in Model.PublicFees)
                    {
                        <tr data-guid="@publicFee.GuId">
                            <td>@publicFee.Name</td>
                            <td>@publicFee.Amount.ToString("N0")</td>
                            <td>
                                    <button type="button" class="btn btn-danger btn-delete" data-guid="@publicFee.GuId">刪除</button>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
        </div>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
    $(function () {
        let selectPublicFeeName = '';
        $('#publicFee-item').unbind('change').bind('change',function(){
            selectPublicFeeName = $(this).find('option:selected').text();
        });

        $("#form-add").unbind('submit').bind('submit',function(e){
            e.preventDefault();

            if(!$('#publicFee-item').val() || !$('#publicFee-amount').val()) return;

            $.ajax({
                url: 'PublicFee',
                type: 'POST',
                data: $(this).serialize() + '&' + 'name=' + selectPublicFeeName,
                success:function(){
                    location.reload();
                }
            });
        });

        $(".btn-delete").unbind('click').bind('click',function(){
            $.ajax({
                url: 'PublicFee',
                type: 'DELETE',
                data: {ItemId: $(this).data("guid")},
                success:function(){
                    location.reload();
                }
            });
        });
    });
</script>
